**/z-platform.sbt
*.class
*.iml
*.out
*.sublime-project
*.sublime-workspace
.bloop/
.cache
.cache-main
.cache-tests
.classpath
.history
.idea
.metals/
.project
.settings/
package-lock.json
proguard-sbt.txt
target
test-output/
website/
.sync/
out/
.bsp/
*.jfr
metals.sbt
